
body {
  /* margin: 24px; */
  padding: 12px;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fcfcfc;
  line-height: 1.45em;
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 4px;
  font-size: 16px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 14px;
}
#main {
  width: 100%;
  min-height: 800px;
  min-width: 760px;
  margin: 10px;
}
#nav {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background: rgba(207, 184, 124, 1);
}
#nav h1 {
  float: left;
  font-size: 24px;
  padding: 2px 0px;
  margin: 12px 12px 0 12px;
}
#nav a {
  padding: 2px 0px;
  margin: 12px 0 0 4px;
  line-height: 20px;
}
.widgets {
  margin: 4px 8% 0 0;
  height: 40px;
}
.widgets h3 {
  float: left;
  margin: 12px 0 0 12px;
  font-size: 14px;
  line-height: 20px;
}
.button {
  font-size: 13px;
  line-height: 16px;
  margin: 12px 4px;
  padding: 2px 8px;
  background: #ddd;
  color: #999;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  float: right;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.widget {
  margin-top: 4px;
  padding: 2px 8px;
  height: 36px;
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  float: left;
}


/*SlickGrid */
#grid {
  width: 100% !important;  /* vs jquery resizable */
  height: 260px;
  margin-top: 4px;
}
.slick-header-column {
  font-weight:bold;
  cursor: move;
  border-right: 1px solid #bbb !important;
}
.slick-cell {
  border: none !important;
}
.slick-row.odd {
  background: rgba(0,0,0,0.05);
}
.slick-row {
  height: 24px !important;
  line-height: 24px;
}
.slick-resizable-handle {
  background: rgba(0,0,0,0.03);
  width: 8px;
}


svg {
  font: 10px sans-serif;
}
.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

/* jquery resizable */
.ui-resizable {
  padding-bottom: 10px;
  position: relative;
}
.ui-resizable-handle {
  background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
  height: 10px;
  width: 100%;
  cursor: s-resize;
  position: absolute;
  bottom: 0px;
}
