body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", arial, helvetica, clean, sans-serif;
  font-size: 13px;
  line-height: 1.35em;
  color: #222;
  background: #fff;
}
a {
  text-decoration: none;
}
a:visited {
  color: #777;
}
a:hover {
  text-decoration: underline;
}
#main {
  width: 100%;
  min-width: 760px;
  margin: 8px auto;
}
#nav {
  height: 64px;
  width: 100%;
  margin: 0 auto;
  background: rgba(0,0,0,0.12);
}
p {
  margin-left: 12px;
}
#nav h1 {
  float: left;
  font-size: 24px;
  padding: 2px 0px;
  margin: 12px 0 0 12px;
}
#nav .toggle {
  margin: 12px 8px 0 0;
  padding: 4px;
  height: 16px;
  background: rgba(0,0,0,0.1);
  color: #666;
}
#nav a.toggle:hover {
  color: #222;
  background: rgba(0,0,0,0.15);
}
#nav .toggle.on {
  color: #222;
  font-weight: bold;
}
#legend {
  float: left;
  clear: left;
  margin: 0 200px 0 12px;
  font-size: 11px;
  line-height: 1.6em;
}
#legend .item {
  float: left;
  margin-right: 10px;
}
#legend .color {
  height: 10px;
  width: 10px;
  opacity: 0.7;
}
#legend div {
  display: inline-block;
  margin: 0 2px;
}
.widgets {
  margin: 0 4% 0 0;
  height: 120px;
}
.widgets h3 {
  float: left;
  margin: 12px 0 0 12px;
  font-size: 16px;
  line-height: 20px;
}
.button {
  font-size: 13px;
  line-height: 16px;
  margin: 12px 4px;
  padding: 2px 8px;
  background: #ddd;
  color: #999;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  float: right;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.widget {
  margin-top: 4px;
  padding: 2px 8px;
  height: 36px;
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  float: left;
}
.info {
  margin: 12px;
  line-height: 20px;
  float: right;
}
.button:hover {
  color: #333;
  background: #eee;
}
.button.red:hover {
  color: #921;
}
.button.blue:hover {
  color: #027;
}
.button.green:hover {
  color: #050;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.clear.left {
  clear: left;
}
.clear.right {
  clear: right;
}
.gone {
  display: none;
}
.intro {
  font-size: 13px;
  line-height: 1.3em;
  margin: 6px 0 0 12px;
}

/* Pie Charts */
#pie {
  opacity: 0.8;
}
#totals .in {
  fill: #888;
}
#totals .out {
  fill: #ccc;
}

/*SlickGrid */
#myGrid {
  width: 100% !important;  /* vs jquery resizable */
  height: 260px;
}
.slick-header-column {
  font-weight:bold;
  cursor: move;
  border-right: 1px solid #bbb !important;
}
.slick-cell {
  border: none !important;
}
.slick-row.odd {
  background: rgba(0,0,0,0.05);
}
.slick-row {
  height: 24px !important;
  line-height: 24px;
}
.slick-row:hover {
  background: #ddd;
}
.slick-resizable-handle {
  background: rgba(0,0,0,0.03);
  width: 8px;
}

/* Parallel Coordinates */
#parallel-coordinates {
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#parallel-coordinates canvas {
  position: absolute;
}
#parallel-coordinates .axis,
#parallel-coordinates .axis-data,
#parallel-coordinates .axis-filter {
  position: absolute;
  display: block;
}
#parallel-coordinates .axis {
  width: 40px;
  background: rgba(55,55,255,0);
  -webkit-transition: background 300ms ease-in 200ms;
  -moz-transition: background 300ms ease-in 200ms;
  -o-transition: background 300ms ease-in 200ms;
  transition: background 300ms ease-in 200ms;
}
#parallel-coordinates .axis:hover {
  background: rgba(55,55,55,0.2);
}
#gray {
  color: #888;
}
.axis-data {
  z-index: 9;
}
.axis-filter {
  left: 12px;
  width: 16px;
  z-index: 10;
}
.axis-filter.active {
  background: rgba(55,55,55,0.3);
}
#footer {
  padding: 60px;
  color: #888;
  font-size:13px;
}
/* SVG Paralllel Coordinates */
#parallel {
  width: 100%;  /* vs jquery resizable */
  height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#parallel svg {
  font: 10px sans-serif;
}

.background path {
  display: none;
  fill: none;
  stroke: #d4d4d4;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.foreground path,
.highlight path {
  fill: none;
  stroke: darkolivegreen;
  stroke-width: 1.5;
  stroke-opacity: .2;
}

.highlight path {
  stroke-opacity: 1;
}

.brush .extent {
  fill-opacity: .2;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*
.axis text {
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
  cursor: move;
}
*/
.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.dimension {
  background: blue;
}

/* jquery resizable */
.ui-resizable {
  padding-bottom: 10px;
  position: relative;
}
.ui-resizable-handle {
  background: rgba(0,0,0,0.05);
}
.ui-resizable-s {
  height: 10px;
  width: 100%;
  cursor: s-resize;
  position: absolute;
  bottom: 0px;
}

/* inverted */
body.inverted {
  background: #161616;
  color: #e9e9e9;
}
.inverted a {
  text-decoration: none;
  color: #eee;
}
.inverted a:visited {
  color: #aaa;
}
.inverted a:hover {
  color: #09f;
}
.inverted .button {
  background: #272727;
  border-color: #444;
}
.inverted .button:hover {
  background: #ddd;
}
.inverted #nav .toggle {
  color: #666;
}
.inverted #nav a.toggle:hover {
  background: rgba(255,255,255,0.1);
}
.inverted #nav .toggle.on {
  color: #ddd;
}

.inverted #totals .in {
  fill: #777;
}
.inverted #totals .out {
  fill: #333;
}

.inverted .slick-header-column {
  border-right: 1px solid #333 !important;
}
.inverted .slick-resizable-handle {
  background: rgba(255,255,255,0.02);
  width: 8px;
}
.inverted .slick-row:hover {
  background: #2a2a2a;
}

.inverted .background path {
  stroke: #272727;
}
.inverted .brush .extent {
  fill-opacity: .2;
  stroke: #ddd;
}
.inverted .axis text {
  stroke: none;
  fill: #bbb;
  font-weight: normal;
  text-shadow:
   -1px -1px 0 #111,
    1px -1px 0 #111,
   -1px 1px 0 #111,
    1px 1px 0 #111;
}

/* no ticks */
.no_ticks #parallel .axis g {
  display: none;
}

/* no background lines */
.shadows .background path {
  display: inherit;
}
